*{
    margin: 0%;
    padding: 0%;
}
:root{
    --naranja1: #FFD680;
    --naranja2: #FFC86D;
}
.containerArriba{
    width: 100vw;
    height: 25vh;
    background-color: var(--naranja1);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}
.imagen{
    width: 20vw;
    height: 20vh;
    background-color: var(--naranja2) ;
}
.textoHead{
    height: 20vh;
    width: 40vw;
}
.lineaNaranja{
    height: 17%;
    width: 50%;
    background-color: var(--naranja2);
}
.lineas{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    
}
.linea{
    height: 8%;
    width: 100%;
    background-color: whitesmoke;    
}
.lineaCorta{
    height: 8%;
    width: 50%;
    background-color: whitesmoke;
}
/*-----------------HEADER---------------------------*/
.main{
    height: 62.5vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 50px;
}
article{
    width: 90px;
    height: 90px;
    background-color: black;
    margin: 30px;

}
/*-------------MAIN----------------*/
footer{
    height: 12.5vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: gray;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 79px;
}
.footText{
    width: 90px;
    height: 70%;
    background-color: peachpuff;
}
.textoGris{
    background-color: #CCCBCA;
    width: 100%;
    height: 23%;
}