*{
    margin: 0%;
    padding: 0%;
}
:root{
    --naranja1: #FFD680;
    --naranja2: #FFC86D;
}
.containerArriba{
    width: 100vw;
    height: 30vh;
    background-color: var(--naranja1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen{
    width: 20vw;
    height: 20vh;
    background-color: var(--naranja2) ;
}