*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --naranja1: #FFD680;
    --naranja2: #FFC86D;
}
.containerArriba{
    width: 100vw;
    height: 25vh;
    background-color: var(--naranja1);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}
.imagen{
    height: 80%;
    aspect-ratio: 1/1;
    background-color: var(--naranja2) ;
}
.textoHead{
    height: 20vh;
    width: 40vw;
}
.lineaNaranja{
    height: 17%;
    width: 50%;
    background-color: #FFB959;
}
.lineas{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    
}
.linea{
    height: 8%;
    width: 100%;
    background-color: #FFFFFF;    
}
.lineaCorta{
    height: 8%;
    width: 50%;
    background-color: #FFFFFF;
}
/*-----------------HEADER---------------------------*/
.main{
    height: 62.5vh;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 50px;
}
.articulitos{
    width: 20vh;
    height: 20vh;
    margin: 25px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cosita1{
    width: 60%;
    height: 60%;
    background-color: #ABE0E5;
}
.cosita2{
    width: 60%;
    height: 60%;
    background-color: #F68360;
}
.cosita3{
    width: 60%;
    height: 60%;
    background-color: #FFC86D;
}
.cosita4{
    width: 60%;
    height: 60%;
    background-color: #FFC86D;
}
.cosita5{
    width: 60%;
    height: 60%;
    background-color: #ABE0E5;
}
.cosita6{
    width: 60%;
    height: 60%;
    background-color: #F68360;
}
.articulitos:nth-child(1){
    position: relative;
    right: 5px;
    background-color: #C4EDF1;
    display: flex;
    border-top: 3vh solid #ABE0E5;
}
.articulitos:nth-child(2){
    background-color: #FF9978;
    display: flex;
    border-top: 3vh solid #F68360;
}
.articulitos:nth-child(3){
    position: relative;
    left: 5px;
    background-color: #FFD680;
    display: flex;
    border-top: 3vh solid #FFC86D;
}
.articulitos:nth-child(4){
    background-color: #FFD680;
    display: flex;
    position: relative;
    right: 5px;
    border-top: 3vh solid #FFC86D;
}
.articulitos:nth-child(5){
    background-color: #C4EDF1;
    display: flex;
    border-top: 3vh solid #ABE0E5;
}
.articulitos:nth-child(6){
    left: 5px;
    background-color: #FF9978;
    display: flex;
    border-top: 3vh solid #F68360;
}
/*-------------MAIN----------------*/
footer{
    height: 12.5vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #E6E5E5;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 79px;
}
.footText{
    width: 20vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footText:nth-child(1){
    position: relative;
    right: 15px;
    align-items: center;
}
.footText:nth-child(3){
    position: relative;
    left: 15px;
    align-items: center;
}
.footText:nth-child(2){
    position: relative;
    left: 15px;
    align-items: center;
}
.textoGris{
    background-color: #CCCBCA;
    width: 100%;
    height: 23%;
}
.textoBlanco{
    width: 100%;
    height: 10%;
    background-color: #FFFFFF ;
}
.textoBlanco:nth-child(4){
    width: 50%;
}